# Projeto 2 - Ciência dos Dados

Nome: Bruno Freitas do Nascimento Rodrigues

Nome: Paulo Augusto dos Passos Oliveira

___
Importando Bibliotecas necessárias:

In [5]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re 
from IPython.display import display

Checando se dataset foi encontrado:

In [6]:
filename = 'heart_failure.csv'
if filename in os.listdir():
    print(f'O arquivo {filename} foi encontrado, tudo certo para prosseguir!')
else:
    print(f'Não encontrei o arquivo {filename} aqui no diretório {os.getcwd()}, será que você não baixou o arquivo?')

O arquivo heart_failure.csv foi encontrado, tudo certo para prosseguir!

** Configuração do arquivo: **

In [15]:
dados = pd.read_csv(filename)
dados.head(5)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [18]:
#Assegurando que todas as gategorias sejam intrepetadas corretamente
dados['age'] = dados['age'].astype('category')
dados['anaemia'] = dados['anaemia'].astype('category')
dados['creatinine_phosphokinase'] = dados['creatinine_phosphokinase'].astype('category')
dados['diabetes'] = dados['diabetes'].astype('category')
dados['ejection_fraction'] = dados['ejection_fraction'].astype('category')
dados['high_blood_pressure'] = dados['high_blood_pressure'].astype('category')
dados['platelets'] = dados['platelets'].astype('category')
dados['serum_sodium'] = dados['serum_sodium'].astype('category')
dados['sex'] = dados['sex'].astype('category')
dados['smoking'] = dados['smoking'].astype('category')
dados['time'] = dados['time'].astype('category')
dados['DEATH_EVENT'] = dados['DEATH_EVENT'].astype('category')

#Motificando os parametros 0 e 1 para sim e não
dados.anaemia.cat.categories = ['não', 'sim']
dados.diabetes.cat.categories = ['não', 'sim']
dados.high_blood_pressure.cat.categories = ['não', 'sim']
dados.sex.cat.categories = ['M', 'F']
dados.smoking.cat.categories = ['não', 'sim']
dados.DEATH_EVENT.cat.categories = ['não', 'sim']